[Unit]
Description=Robot Menu Web Service
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory=/home/pi/robot_code
User=pi
ExecStart=/usr/bin/env python3 control_server.py
