<html>
    <head>
        <script src="/static/lib/jquery-3.7.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/display.css">
        <title>Robot Image Server</title>
    </head>

    <body>
        <h1>Robot Image Server</h1>
        <img src="{{url_for('display')}}"><br>
        <a href="#" id="startbutton" class="button" onclick="$.post('/control', {'command': 'start'});">Start</a>
        <a href="#" id="stopbutton" class="button" onclick="$.post('/control', {'command': 'stop'});">Stop</a><br>
        <a class="button" id="exitbutton">Exit</a>
    
        <script type="text/javascript">
             $(() => {
                $('#exitbutton').click(function() {
                    $.post('/control', {'command': 'exit'});
                    window.location.replace('//' + window.location.hostname + ":5000");
                });
               })
        </script>
    
    </body>
</html>